.book_container {
    /*height: 20;*/
    max-width: 1320px;
    margin: 40px auto;
    padding: 1.5rem;
    /*   padding-right: calc(1.5rem * 0.5);
          padding-left: calc(1.5rem * 0.5);*/
}

.book_top_section {
    text-align: center;
    margin-bottom: 40px;
}

.book_top_section > h1 {
    font-size: 32px;
}

.book_main_section {
    display: flex;
}

.book_main-left {
    flex: 2.5;
    padding-right: 20px;
}

.book_left_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    /*padding: 0 40px;*/
}

.book_left_top button {
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px 15px;

}

.book_left_top > h2 {
    font-size: 24px;
}

.book_left_time {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 20px auto;
}

.table_header {
    height: 40px;
    padding: 0 15px;
    font-size: 15px;
    margin-top: -25px;
}

.header_time {
    /*height: 50px;*/
    margin-top: 7px;
}

.table_time {
    height: 50px;
    padding: 0 15px;
    font-size: 11px;
    /*margin-top: 12px;*/
}

.book_table_date {
    margin-left: 3px;
}

.table_time_data {
    background-color: #f5f5f5;
    border-radius: 5px;
}

.table_data {
    height: 30px;
    padding: 25px 15px;
    border-radius: 5px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data_available {
    background-color: #5ea1ff;
    color:#fff;
    border: 1px solid #fff;
    cursor: pointer;
}

.data_available:hover {
    background-color: #0d6efd;
}

.data_unavailable {
    background-color: lightgray;
    color: gray;
    border: 1px solid #fff;
    cursor: not-allowed;
}

.book_main_right {
    flex: 1;
    margin-top: 75px;
    /*position: relative;*/
    padding-left: 20px;

}

.book_right_icon {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 11px;
}

.able {
    background-color: #0d6efd;
    color:#fff;
    padding: 2px 5px;
    border-radius: 10px
}

.unable {
    background-color: lightgray;
    color: gray;
    padding: 2px 5px;
    border-radius: 10px
}

.book_right_selected {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px 10px;
    margin: 10px;
    font-size: 14px;
}

.book_right_btn {
    margin: 20px 10px;
}

.book_btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: lightgray;
    color: gray;
    font-weight: 300;

}

.book_btn:hover {
    background: #212529;
    color: #fff;
}

@media screen and (max-width: 1400px) {
    .book_container {
        max-width: 1140px;
    }
}

@media screen and (max-width: 1200px) {
    .book_container {
        max-width: 960px;  
    }

}

@media screen and (max-width: 992px) {

    .book_container {
        max-width: 720px;  
        /*height: 100vh;*/
    }

    .book_main_section {
        display: block;
    }

    .book_main_right {
        display: block;
        margin: 20px 0;
        height: 160px;

    }

    .book_right_icon {
        justify-content: flex-start;
    }

    .book_right_icon > div {
        margin-right: 20px;
    }

    .book_right_selected {
    }

    /* .book_right_btn {
      right: 10px;
    } */

    .book_btn {
        /*padding: 10px 50px;*/
        /*    margin-bottom: 40px;*/

    }
}


@media screen and (max-width: 768px) {
    .book_container {
        max-width: 720px;  
    }
}

@media screen and (max-width: 576px) {
    .book_container {
        max-width: 540px;  
    }
}

.book_modal {
   display: none; 
    position: fixed;
    z-index: 1021;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 


}

.book_modal-content {
    width: 250px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
}

.book_close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}

.book_close:hover,
.book_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}