.gloabal_container {
    max-width: 1320px;
    margin: 40px auto;
    padding: 1.5rem;
    /*min-height: 70vh;*/
   min-height: 70vh;
}

.gloabal_top_section {
    text-align: center;
    margin-bottom: 40px;
}

.gloabal_top_section > h1 {
    font-size: 32px;
}

.gloabal_main_section {
    /*min-height: 70vh;*/
}


@media screen and (max-width: 1400px) {
    .gloabal_container {
          max-width: 1140px;
    }
}

@media screen and (max-width: 1200px) {
    .gloabal_container {
          max-width: 960px;  
}
    
}

@media screen and (max-width: 992px) {
    
.gloabal_container {
max-width: 720px;  
/*height: 100vh;*/
}
}


@media screen and (max-width: 768px) {
    .gloabal_container {
          max-width: 720px;  
    }
}

@media screen and (max-width: 576px) {
    .gloabal_container {
          max-width: 540px;  
    }
}